body{
    background-color: lavenderblush;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    width: 250px;
    border-radius: 5px;
    background-color:lavender;
    opacity: 0.9;
}

.product img {
    width: 100%;
    height: 67%;
    border-radius: 5px;
    background-color: lavender;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background-color: #0056b3;
}
